/* $gray: #8E9AAF;
$lavender: #CBC0D3;
$blue: #CBC0D3;
$pale: #EAC7CC;
$white: #f6f6f6;

$pink: darken($pale, 20%);

$serif: 'Lora', serif;
$sans-serif: 'Open Sans', sans-serif; */

$gray: #587389;
$lavender: #a89ea7;
$milk: #f6f6f6;
$green: #7FA776;

$pink: darken($lavender, 20%);

$sans-serif: 'Open Sans', sans-serif;
$serif: 'Lora', serif;