$gray: #50687C;
$lavender: #a89ea7;
$milk: #f6f6f6;
$green: #7FA776;

$pink: darken($lavender, 20%);

$sans-serif: 'Open Sans', sans-serif;
$serif: 'Lora', serif;
// using variables is always good idea to have a clean code!
// the good practice is to use the names like primary, secondary regarding to colors to be independent when it comes to change