@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

@import 'base/variables';

body {
    background: #EECEBF;
    background: -webkit-linear-gradient(top left, #EECEBF, #FFFFFF);
    background: -moz-linear-gradient(top left, #EECEBF, #FFFFFF);
    background: linear-gradient(to bottom right, #EECEBF, #FFFFFF);
}

.container {
    width: 650px;
    height: 550px;
    margin: 0 auto;
    // you may try to position element by flex also (display, justify-content ang align-items)
}

@import 'blocks/buttons';
@import 'blocks/forms';
@import 'blocks/login';