.button {
  display: block;
  padding: 12px;
  font-family: $sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  border-radius: 10px;
  margin: 0 auto;
  outline: none;
  background: $milk;
  border: solid 1px $lavender;
  &:hover {
    background: #A1BF9B;
    color: $milk;
    transition: background-color 1s ease-out;
    border-color: darken($lavender, 5%);
  }
  &__submit {
    margin-top: 75px;
    width: 100px;
    padding: 12px;
    border-color: $pink;
  }
}