.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    input {
        background: $lavender;
        width: 65%;
        color: #fff;
        border: none;
        border-bottom: 1px solid rgba($milk, 0.5);
        padding: 4px;
        margin: 7px;
        &::placeholder {
            color: rgba($milk, 1);
            letter-spacing: 2px;
            font-size: 0.8em;
            font-weight: 100;
        }
/*         &:focus {
            color: $pink;
            outline: none;
            border-bottom: 1.2px solid rgba($pink, 0.7);
            font-size: 1em;
            transition: .8s all ease;
            &::placeholder {
            opacity: 0;
            } */
    }
    &__checkbox {
        display: inline;
        white-space: nowrap;
        position: relative;
        top: 5px;
        input {
            width: 25px;
            background: $pink;
        }
        label {
            font-family: $sans-serif;
            color: $milk;
            font-size: 0.7em;
            letter-spacing: 0.5px;
            a {
                color: #4e464d;
            }
        }
    }
}