@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .login{
        width: 540px;
        &__wrapper {
            width: 280px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .login {
        position: relative;
        top: auto;
        width: 100%;
        background: none;
        box-shadow: none;
        &__wrapper {
            position: initial;
            margin: 30px auto;
        }
        &__greeting {
            position: unset;
            width: auto;
            background-size: 22%;
            p, button, br {
                display: none;
            }
        }
        &__registration {
            display: inline-block;
            margin: 30px;
            h1 {
                margin-top: 33px;
                font-size: 1.3em;
            }
        }
        &__logo {
            top: 3rem;
            left: 13rem;
        }
        &__title {
            word-spacing: 3rem;
            padding: 42px;
        }
        &__word {
            display: none;
        }
    }
}

@media (max-width: 444px) {
    .login {
        &__greeting {
            background: none;
        }
        &__title {
            word-spacing: unset;
            padding: unset;
        }
        &__word {
            display: inherit;
        }
    }
}